

<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Categories</a>
    </div>
    <div class="row">
    <a  class="btn bg-purple" href="/category/newCategory" style="float: right;margin: 10px 28px;"><li class="fa fa-plus-square" style="padding: 5px"></li>New Category</a>
</div><br>
{{!--     
    {{!-- <form style="width: 40%;margin-left:auto;margin-right:auto">
             <div class="form-group row">
            <div class="col-xs-8">
                <label>Category:</label>
                <select class="form-control input-sm" name="category" id="category">
                    {{# each category}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="col-xs-8">
                <label>New Name:</label>
                <input type="text" class="form-control input-sm" name="name" id="name">
            </div>

              <div class="col-xs-8">
           <hr>
            </div>

            <div class="col-xs-8">
            <button>submit</button>
            </div>
        </div>
       
       
    </form><br> --}} 
    {{!-- <form action="" >
                  <div class="form-group">
                Category:
                <select name="category" id="category" class="form-control">
                    {{# each category}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select><br>
                New Name: <input type="text" name="name" id="name" class="form-control">
                <button>submit</button>
                 </div>
            </form> --}}

    <div style="background-color: white">
        <table id="ptable" style="width:100%" class="table table-striped" >
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {{# each category}}
            <tr>
                <td>{{this.count}}</td>
                <td>{{this.name}}</td>
                {{# if this.enabled}}
                <td><span class="tags">Enabled</span></td>
                {{else}}
                <td><span  class="tags"  style="background: rgb(202, 111, 129)">Disabled</span></td>
                {{/if}}
                <td>
                    <a data-toggle="tooltip" title="Edit info" class="btn btn-default" href="/category/updateCategory/{{this._id}}"
                        >Edit</a>
                    {{# if this.enabled}}
                    <a href="/category/category/changeStatus/{{this._id}}/false" data-toggle="tooltip" title="Disable the category"
                        class="btn btn-default">Disable</a>
                    {{else}}
                    <a href="/category/category/changeStatus/{{this._id}}/true" data-toggle="tooltip" title="Enable the category"
                        class="btn btn-default">Enable</a>
                    {{/if}}
                </td>
            </tr>

            {{/each}}
            </tbody>
        </table>
    </div>

</div>
<br>