
<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Sub Categories</a>
    </div>
<div class="row">
    <a  class="btn bg-purple" href="/category/newSubCategory" style="float: right;margin: 10px 28px;"><li class="fa fa-plus-square" style="padding: 5px"></li>New Sub Category</a>
</div><br>
    <div style="background-color: white">
        <table id="ptable" style="width:100%" class="table table-striped" >
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
             </thead>
             <tbody>
          {{# each subcategory}}
            <tr>
                <td>{{this.count}}</td>
                <td>{{this.name}}</td>
                <td>{{this.category.name}}</td>
                {{# if this.enabled}}
                <td>Enabled</td>
                {{else}}
                <td>Disabled</td>
                {{/if}}
                <td>
                    <a data-toggle="tooltip" 
                        title="Edit info" class="btn btn-default" href="/category/updateSubCategory/{{this._id}}" >Edit</a>
                    {{# if this.enabled}}
                    <a href="/category/subcategory/changeStatus/{{this._id}}/false" data-toggle="tooltip" 
                        title="Edit info" class="btn btn-default" >Disable</a>
                    {{else}}
                         <a href="/category/subcategory/changeStatus/{{this._id}}/true" data-toggle="tooltip" 
                        title="Edit info" class="btn btn-default" >Enable</a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>