<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Posts</a>
    </div>

    <div style="background-color: white">
        <table id="ptable" style="width:100%" class="table table-striped">
            <thead>
            <tr>
                <th>User</th>
                <th>Post Category</th>
                <th>Title</th>
                <th>Likes</th>
                <th>Comments</th>
                <th>Text</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {{# each posts}}
            <tr>
                <td>{{this.user.name}}</td>
                <td>{{this.postCategory.name}}</td>
                <td>{{this.name}}</td>
                <td>{{this.total_likes}}</td>
                <td>{{this.total_comments}}</td>
                <td>{{this.text}}</td>
                <td>
                    {{# equality this.status "Active"}}
                    <span class="tags">Active</span>
                    {{/equality}}
                    {{# equality this.status "Blocked"}}
                    <span class="tags" style="background: rgb(202, 111, 129)" >Blocked</span>
                    {{/equality}}
                    {{# equality this.status "New"}}
                    <span class="tags" style="background: rgb(112, 190, 226)">New</span>
                    {{/equality}}
                </td>
                <td>
                    {{# equality this.status "Active"}}
                    <a href="/forum/posts/block/{{../this._id}}" class="btn btn-default ">Block {{this._id}}</a>
                    {{/equality}}

                    {{# equality this.status "Blocked"}}
                    <a href="/forum/posts/active/{{../this._id}}" class="btn btn-default">Active</a>
                    {{/equality}}

                    {{# equality this.status "new"}}
                    <a href="/forum/posts/active/{{../this._id}}" class="btn btn-default">Active</a>
                    <a href="/forum/posts/block/{{../this._id}}" class="btn btn-default ">Block</a>
                    {{/equality}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>