<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Invoices</a>
    </div>

    <div style="background-color: white">
        <table id="ptable" style="width:100%" class="table table-striped" >
            <thead>
            <tr>
                <th>#</th>
                <th>Invoice Number </th>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
          {{# each invoices}}
            <tr>
                <td>{{this.count}}</td>
                <td>{{this.invoiceId}}</td>
                <td>{{this.order.orderId}}</td>
                <td>{{formatDate this.order.created}}</td>
                <td>{{this.order.currentStatus}}</td>
                <td>{{formatNumber this.order.totalAmount}}TK</td>
                <td><a href="/orders/ViewInvoice/{{this._id}}" data-toggle="tooltip" data-placement="top" title="View details"  class="btn btn-primary">View</a></td>
            </tr>
           
            {{/each}}
            </tbody>
        </table>

    </div>

</div>
<br>