<div class="row">
    <a class="btn bg-purple" href="/products/specifications/new" style="float: right;margin: 10px 28px;">
        <li class="fa fa-plus-square" style="padding: 5px"></li>New Specification
    </a>

</div><br>
<div class="container-fluid">



    <div style="background-color: white">

        <table id="ptable" style="width:100%" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Specifications</th>
                    <th>Creation Date</th>
                    <th>Created By</th>
                    <th>Enabled</th>
                    <th>Filtering</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{# each specifications}}
                {{# if this._id}}
                <tr>
                    <td>{{this.count}}</td>
                    
                    <td>{{this.name}}</td>

                    <td>{{formatDate this.created}}</td>
                    <td>{{this.createdBy.name}}</td>
                    <td>
                        {{# if this.enabled}}
                        <span style="color: #01873b">Enabled</span>
                        {{else}}
                        <span style="color:#eb483f">Disabled</span>
                        {{/if}}
                    </td>
                    <td>
                        {{# if this.filtering}}
                        <span style="color: #01873b">Added</span>
                        {{else}}
                        <span style="color:#eb483f">Removed</span>
                        {{/if}}
                    </td>
                    <td>
                        <div id="{{this._id}}"> </div>
                        {{# if this.enabled}}
                        <a href="/products/specifications/makeDisabled/{{this._id}}" class="btn btn-default">Disable</a>
                        {{else}}
                        <a href="/products/specifications/makeEnabled/{{this._id}}" class="btn btn-default">Enable</a>
                        {{/if}}

                        {{# if this.filtering}}
                        <a href="/products/specifications/makeFalse/{{this._id}}" class="btn btn-default">Remove from Filtering </a>
                        {{else}}
                        <a href="/products/specifications/makeTrue/{{this._id}}" class="btn btn-default">Add to Filtering</a>
                        {{/if}}
                    </td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>