<div class="container-fluid">
    <div id="PRODUCT1"></div>
    <div class="box">
        <button class="collapsible">
            <li class="fa fa-info panel-icon" style="padding: 5px"></li><span>PRODUCT INFO</span><span
                style="float:right" id="sp">+</span>
        </button>
        <div class="content" style="background-color: white; border-top: 1px; display:block">
            <div class="register-logo">
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <div class="well">
                            <form action="" id="update_product">
                            <input type="hidden" class="form-control inp" name="serial" id="serial">
                            <input type="hidden" class="form-control inp" name="_id" id="_id" value="{{product._id}}">
                            <div class="row">
                                <div class="col-md-5 col5">
                                    <label class="lbl" for="products_invoice">Product Name</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control inp" name="products_invoice"
                                        id="products_invoice" value="{{product.productName}}">
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-5 col5">
                                    <label class="lbl" for="model">Model
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control inp" name="model" id="model"
                                        value="{{product.model}}">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5 col5">
                                    <label class="lbl" for="name">Title
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control inp" name="name" id="name"
                                        value="{{product.name}}">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5 col5">
                                    <label class="lbl" for="sellingPrice">Selling Price
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control inp" name="sellingPrice" id="sellingPrice"
                                        value="{{product.sellingPrice}}">
                                </div>
                            </div>
                            <br>
                            {{!-- {{# each product.features}}
                            <div class="row">
                                <div class="col-md-5 col5">
                                    <label class="lbl" for="v{{@index}}">{{this.label}}</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="hidden" name="new_feat_{{@index}}" id="new_feat_{{@index}}"
                                        value="{{this.label}}">
                                    <input type="text" class="form-control inp" name="v{{@index}}" id="v{{@index}}"
                                        class="form-control" value="{{this.value}}">
                                </div>
                            </div>
                            <br>
                            {{/each}} --}}
                            {{!-- <div id="add"> --}}
                            {{!-- adds previous features --}}
                            {{!-- </div> --}}

                            {{!-- <div class="row">
                                <div class="col-md-5 col5">
                                    <label class="lbl" for="new_feat_label">New Feature</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="hidden" id="new_feat" name="new_feat"
                                        value="{{feature_total}}">--}}{{!-- counts the total newly added features --}}
                            {{!--  <input type="text" id="new_feat_label" name="new_feat_label"
                                        class="form-control inp" placeholder="write a new feature name">
                                </div>
                                <div class="col-md-1">
                                    <a id="addNewfeature" class="btn btn-success" style="padding: 1px 12px">Add</a>
                                </div>
                            </div>
                            <br> --}}
                            <div class="row">
                                <div class="col-md-5 col5">
                                    <label class="lbl" for="weight">Weight
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control inp" name="weight" id="weight"
                                        value="{{product.weight}}">
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-5 col5">
                                    <label class="lbl" for="warranty">Warranty</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control inp" name="warranty" id="warranty"
                                        value="{{product.warranty}}">
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-5 col5">
                                    <label class="lbl" for="description">Description</label>
                                </div>
                                <div class="col-md-6">
                                    <textarea type="text" class="form-control inp" name="description"
                                        id="description">{{product.description}}</textarea>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-5 col5">
                                    <label class="lbl" for="shippingInfo">ShippingInfo</label>
                                </div>
                                <div class="col-md-6">
                                    <textarea type="text" class="form-control inp" name="shippingInfo"
                                        id="shippingInfo">{{product.shippingInfo}}</textarea>
                                </div>
                            </div>
                            <br>
                            {{!-- 
                            <div class="row">
                                <div class="col-md-5 col5">
                                    <label class="lbl" for="HomePagetag">HomePagetag<span
                                            style="color:red">*</span></label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control inp" name="HomePagetag" id="HomePagetag">
                                        <option value="None"
                                            {{# equality product.HomePagetag 'None'}}selected{{/equality}}>None
                                        </option>
                                        <option value="Hot Deals"
                                            {{# equality product.HomePagetag 'Hot Deals'}}selected{{/equality}}>
                                            Hot Deals
                                        </option>
                                        <option value="Trending"
                                            {{# equality product.HomePagetag 'Trending'}}selected{{/equality}}>
                                            Trending</option>
                                        <option value="New Product"
                                            {{# equality product.HomePagetag 'New Product'}}selected{{/equality}}>
                                            New Product
                                        </option>
                                        <option value="Exclusive Products"
                                            {{# equality product.HomePagetag 'Exclusive Products'}}selected{{/equality}}>
                                            Exclusive Products</option>
                                    </select>
                                </div>
                            </div> --}}
                            <br>
                            <div class="row">
                                <center>
                                    <button  class="btn btn-default btn-md"
                                        type="submit">Save</button>
                                </center>
                            </div>
</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div id="IMAGES1"></div>
        <button class="collapsible">
            <li class="fa fa-picture-o panel-icon" style="padding: 5px"></li><span>IMAGES</span><span
                style="float:right" id="sp">+</span>
        </button>
        <div class="content" style="background-color: white; display:block">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <a name="image_sec1"></a>
                        <div class="well">
                            <div id="all_img" class="row">
                            </div>

                            <div class="row">
                                {{# each product.image}}
                                {{# if this}}
                                <div class="col-sm-3">
                                    <img src="{{this}}" alt=""
                                        style="background-image: image(); width:100px; height:100px;">
                                    <form action="/products/img/detete" method="POST">
                                        <input type="hidden" name="id" id="id" value="{{../product._id}}">
                                        <input type="hidden" name="img" id="img" value="{{this}}">
                                        <button type="submit">delete</button>
                                    </form>
                                </div>
                                {{/if}}
                                {{/each}}
                            </div>
                            <div class="row">

                            </div>
                            <br>
                            <form action="/products/upload/update" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="img_number" id="img_number">
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="pid">Product Name
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="pname" id="pname"
                                            value="{{product.productName}}">
                                        <input type="hidden" name="pid" id="pid" value="{{product._id}}">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="imagePath3">Select Image
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="file" name="imagePath3" id="imagePath3"
                                            accept="image/png, image/jpeg" multiple>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <center>
                                        <button type="submit" id="save_img"
                                            class="btn btn-default btn-md">Submit</button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="box">
        <div id="RELATED1"></div>
        <button class="collapsible">
            <li class="fa fa-object-group panel-icon" style="padding: 5px"></li><span>RELATED PRODUCT</span><span
                style="float:right" id="sp">+</span>
        </button>
        <div class="content" style="background-color: white; display:block">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <div class="well">
                            {{# if product }}
                            <form action="/products/relatedProducts1" method="POST">
                                <input type="hidden" name="img_number" id="img_number">
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="pid">Product Name
                                        </label>
                                    </div>
                                    <div class="col-md-6">

                                        <input type="text" class="form-control inp" name="pname" id="pname"
                                            value="{{product.productName}}">
                                        <input type="hidden" name="pid" id="pid" value="{{ product._id }}">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="imagePath">Select Product
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="relatedProducts" class="form-control inp" id="relatedProducts">
                                            {{# each Product}}
                                            <option value="{{this._id}}">{{this.productName}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <center>
                                        <button type="submit" class="btn btn-default btn-md">Submit</button>
                                    </center>
                                </div>
                            </form><br>
                            <table id="ptable" style="width:100%" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{# each product.relatedProducts}}

                                    <tr>

                                        <td>
                                            <strong>{{this.productName}}</strong>
                                        </td>

                                        <td>
                                            <a href="/products/relatedProducts/delete1/{{../product._id}}/{{this._id}}"
                                                class="btn btn-default ">Delete</a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            {{else}}
                            <p>You need to complete product registration with image in specification section.
                            </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div id="SPECIFICATIONS1"></div>
        <button class="collapsible"><span style="float:left ">
                <li class="fa fa-cog panel-icon"></li>
                </li>SPECIFICATIONS
            </span><span style="float:right" id="sp">+</span></button>
        <div class="content" style="background-color: white; display:block">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <div class="well">

                            {{# if product }}
                            <form action="/products/attribute/save" method="POST">

                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="pid">Product Name
                                        </label>
                                    </div>
                                    <div class="col-md-6">

                                        <input type="text" class="form-control inp" name="pname" id="pname"
                                            value="{{ product.productName }}">
                                        <input type="hidden" name="pid" id="pid" value="{{ product._id }}">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="label">Product Attribute
                                        </label>
                                    </div>
                                      <div class="col-md-6">
                                        <select class="form-control inp" name="label" id="label" required>
                                            <option value="">Select One</option>
                                            {{# each specifications }}
                                            <option value="{{this._id}}">{{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    {{!-- <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="label" id="label" required>
                                    </div> --}}
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="value">Value
                                        </label>
                                    </div>
                                  
                                    <div class="col-md-6">
                                        <input type="text" class="form-control inp" name="value" id="value" required>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <center>
                                        <button type="submit" class="btn btn-default btn-md">Submit</button>
                                    </center>
                                </div>
                            </form><br>
                            <table id="ptable" style="width:100%" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Product Attributes</th>
                                        <th>Values</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{# each product.features}}
                                    <tr>
                                        <td>
                                            <strong>{{this.label.name}}</strong>
                                        </td>
                                        <td>
                                            <strong>{{this.value}}</strong>
                                        </td>
                                        <td>
                                            <a href="/products/attributes/delete1/{{../product._id}}/{{this.label._id}}"
                                                class="btn btn-default ">Delete</a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            {{else}}
                            <p>You need to complete product registration with image in specification section.
                            </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!--  <div class="box">
        <button class="collapsible"><span style="float:left ">RELATED PRODUCT</span><span style="float:right"
                id="sp">+</span></button>
        <div class="content" style="background-color: white">
        </div>
    </div> --}}


</div>