


<div class="container-fluid" >
    
   <div class="register-logo">
        <a href="#"><b>Product</b>List</a>
    </div>
<div class="row">
   <button class="btn bg-green" style="float: right;margin: 10px 20px;" id="btnExport" onclick="javascript:xport.toXLS('ptable');"> <li class="fa fa-download" style="padding: 5px"></li>Export as Excel</button>
    <a  class="btn bg-purple" href="/products/DealerInventory" style="float: right;margin: 10px;margin-right: 0px"><li class="fa fa-plus-square" style="padding: 5px"></li>New Dealer Product</a>
    <a  class="btn bg-blue" href="/products/InhouseInventory"  style="float: right;margin: 10px ;"><li class="fa fa-plus-square"  style="padding: 5px"></li>New Supplier Product</a>
    </div><br>

    <div style="background-color: white">

        <table id="ptable" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>Model</th>
                    <th>Selling Price</th>
                    <th>Status</th>
                    <th>Availablity</th>
                    <th>Dealers' Product</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{# each products}}
                {{# if this._id}}
                <tr>
                    <td>{{this.count}}</td>
                    <td>{{this.productName}}</td>
                    <td>{{this.model}}</td>
                    <td>{{this.sellingPrice}}TK</td>
                    <td>{{# if this.isActive}} <span class="tags">Enabled</span>{{else}}<span  class="tags"  style="background: rgb(202, 111, 129)">Disabled</span>{{/if}}</td>
                    <td>{{# if this.availablity}}<span class="tags">Available</span>{{else}}<span  class="tags"  style="background: rgb(202, 111, 129)">Not Available</span>{{/if}}</td>
                    <td>{{this.dealer}}</td>
                    <td>{{# if this.availablity}}
                        <a href="/products/notAvailable/{{this._id}}" class="btn btn-default ">Not Available</a>
                        {{else}}<a href="/products/Available/{{this._id}}" class="btn btn-default">Available</a>
                        {{/if}}{{# if this.isActive}}<a href="/products/unactive/{{this._id}}" class="btn btn-default ">Disable</a>{{else}}
                        <a href="/products/active/{{this._id}}" class="btn btn-default">Enable</a>{{/if}}
                        <a href="/products/Update/{{this._id}}" class="btn btn-default ">Update</a></td>
                </tr>
        {{/if}}
        {{/each}}
        </tbody>
        </table>
    </div>
</div>
<br>







